body {
	background-color: #D8DCCF;
	background-color: #F7F7F2;
	color:#143E51;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 200%;
}

h1 {
	font-size: 2.5em;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}

h2 {
	font-size: 1.3em;
}

p {
	font-family: Helvetica, sans-serif;
	font-size: .9em;
	font-weight: lighter;
}

a:link {
	color:#143E51;
}

a:visited {
	text-decoration: none;
	color:#143E51;
}

a:hover {
	text-decoration: none;
	color:#1B998B;
}

i {
	padding: .25em;
}

#home {
	padding-top: 5vh;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 65vh;
}

#tagline {
	color:#E01A4F;
	padding-top: .25em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
}

#contact-tray {
	padding-top: .5em;
}

i.glyphicon-envelope {
    font-size: 1.5em;
}

.nav-link {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 35vh;
}

#project {
	padding-top: 2vh;
	min-height: 65vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.bg-image {
	background-image: url('/images/Lookup_bg.png');
	background-position: center center;
	background-size: cover;
	min-height: 100vh;
}

.bg-image a {
	color:#167F74;
}

.bg-image a:hover {
	text-decoration: underline;
}

#about {
	padding-top: calc(100vh *.08);
	padding-bottom: calc(100vh *.08);
}

.nav-link-final {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 10vh;
}
