.error {
	background-color: $light-blue;
	height: 100vh;
}

.error--image {
	margin-top: 20px;
	margin-bottom: 20px;
	@include breakpoint(small) {
		width: 100%;
		margin-left: 0%;
	}
	@include breakpoint(medium) {
		width: 60%;
		margin-left: 20%;
	}
}