PORT=8000
SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1,localhost,sarahjaine.com
SECURE_SSL_REDIRECT=False

# Production
DEBUG=True

# Database
DATABASE_URL=postgres://localhost/sarahjaine

# AWS Storage
USE_S3=False
AWSAccessKeyId=
AWSSecretKey=
S3_BUCKET=