PORT=8000
SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1,localhost,sarahjaine.com
SECURE_SSL_REDIRECT=False

# Production
PRODUCTION_FLAG=False
DEBUG=True

ADMIN_NAME=
ADMIN_EMAIL=

# Database
DATABASE_URL=postgres://localhost/sarahjaine
ENGINE=
NAME=
USER=
PASSWORD=
HOST=
PORT=
