PORT=8000
DEBUG=True

SECRET_KEY=

ALLOWED_HOSTS=127.0.0.1,localhost,sarahjaine.com

SECURE_SSL_REDIRECT=False

# To create the database locally: createdb sarahjaine
DATABASE_URL=postgres://localhost/sarahjaine
