{% load staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="Hello. I am a web developer living in Washington DC and these are some of my projects.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
        <meta name="application-name" content="Sarah-Jaine Szekeresh's Portfolio"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="/mstile-144x144.png" />


        {# Facebook Open Graph Tags #}
        <meta property="og:url" content="https://www.sarahjaine.com/" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Sarah-Jaine Szekeresh's Portfolio" />
        <meta property="og:description" content="Hello. I am a web developer living in Washington DC and these are some of my projects." />
        <meta property="fb:app_id" content="523707504468926" />
        <meta property="og:image" content="/headshot_opengraph.jpg" />
        <meta property="og:image:width" content="280" />
        <meta property="og:image:height" content="280" />

        {# Twitter Summary Card with Small Image tags #}
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@sarahjaine_sz">
        <meta name="twitter:creator" content="@sarahjaine_sz">
        <meta name="twitter:title" content="Sarah-Jaine Szekeresh's Portfolio">
        <meta name="twitter:description" content="Hello. I am a web developer living in Washington DC and these are some of my projects.">
        <meta name="twitter:image" content="/headshot_opengraph.jpg">
        <meta name="twitter:image:alt" content="professional headshot">
        
         <!-- Google analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-72527745-1', 'auto');
          ga('send', 'pageview');
        </script>

        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <script src="{% static 'js/bundle.js' %}" async defer></script>
        <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i|Open+Sans:400,600,600i,700,700i" rel="stylesheet">
        <script src="https://use.fontawesome.com/998d0f8dda.js"></script>

        <title>{% block title %}{% endblock title %} - Sarah-Jaine</title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
