{% load static from staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="Hello. I am a web developer living in Washington DC and these are some of my projects.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        {# Facebook Open Graph Tags #}
        <meta property="og:title" content="Sarah-Jaine Szekeresh's Portfolio" />
        <meta property="og:site_name" content="" />
        <meta property="og:url" content="https://sarahjaine.com/" />
        <meta property="og:description" content="Hello. I am a web developer living in Washington DC and these are some of my projects." />
        <meta property="fb:app_id" content="">
        <meta property="og:type" content="website" />
        <meta property="og:image" content="" />

        {# Twitter Summary Card with Large Image tags #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@sarahjaine_sz">
        <meta name="twitter:creator" content="@sarahjaine_sz">
        <meta name="twitter:title" content="Sarah-Jaine Szekeresh's Portfolio">
        <meta name="twitter:description" content="Hello. I am a web developer living in Washington DC and these are some of my projects.">
        <meta name="twitter:image" content="{% static 'img/Lookup_sm.png' %}">
        
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <script src="{% static 'js/bundle.js' %}" async defer></script>

        <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i|Open+Sans:400,600,600i,700,700i" rel="stylesheet">
        <script src="https://use.fontawesome.com/998d0f8dda.js"></script>

        <title>{% block title %}{% endblock title %} - Sarah-Jaine</title>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
