{% extends 'base.html' %}
{% load static from staticfiles %}

{% block title %}Home{% endblock title %}

{% block content %}

{% include 'partials/header_bar.html' %}

<main>

<header class="hero section--middle-border">
	<div class="block--align-center-left">
		<h1 class="heading--hero">
			<span class="white-highlight">
				&nbsp;I’m&nbsp;a&nbsp;Python&nbsp;web developer&nbsp;coding 
				<br>
				&nbsp;and&nbsp;teaching&nbsp;in&nbsp;Washington&nbsp;DC.&nbsp;
				<br>
				&nbsp;See&nbsp;what&nbsp;I’ve&nbsp;been <a href="/work/">working&nbsp;on</a>&nbsp;recently.&nbsp;
			</span>
		</h1>
	</div>
</header>

{% include 'partials/featured_work.html' %}

<section class="contact section--bottom-border">
	<div class="row">
		<div class="small-12 medium-6 columns">
			<img class="contact--headshot-image hide-for-small-only hide-for-phone-only" src="{% static 'img/headshot_nobg.png' %}" alt="professional headshot">
		</div>
		<div class="small-12 medium-6 columns contact--textblock">
			<h2 class="heading--section">Get In Touch</h2>
			<p>I’m a full-stack web developer living in Washington DC. In my free time, I teach beginner friendly Python classes through <a href="http://hearmecode.com/" target="_blank">Hear Me Code</a>. I am actively seeking a full-time permanent position as a web developer. I'm also available for hire for short term projects.</p>
			<ul class="fa-ul">
				<li><i class="fa-li fa fa-envelope-square fa-lg fa-fw contact--list-item" aria-hidden="true"></i>Send me an <a href="mailto:freelance@sarahjaine.com"target="_blank">email</a>.</li>
				<li><i class="fa-li fa fa-twitter-square fa-lg fa-fw contact--list-item"></i>Find me on <a href="https://twitter.com/SarahJaine_Sz" target="_blank">Twitter</a>.</li>
				<li><i class="fa-li fa fa-github-square fa-lg fa-fw contact--list-item"></i>Browse my <a href="https://github.com/SarahJaine" target="_blank">GitHub</a>.</li>
			</ul>
		</div>
	</div>
</section>

</main>

{% endblock %}
