{% extends 'base.html' %}

{% block title %}Work{% endblock title %}

{% block content %}

{% include 'partials/header_bar_inner.html' %}
<section class="work section--middle-border">
	<div class="row">
		<div class="small-12 columns medium-offset-1 medium-10 columns">
			<h2 class="h2--alt text--center">Projects</h2>
			{% for project in project_list %}
			<div class="row">
				<div class="small-12 medium-6 columns">
					<div class="global--thumbnail">
						{% if project.image %}
							<a href="{% url 'work_detail' slug=project.slug %}"><img src="{{ project.image.url }}"></a>
						{% endif %}	
					</div>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="global--caption">
						<h3><a href="{% url 'work_detail' slug=project.slug %}">{{ project.name }}</a></h3>
						<p>{{ project.teaser }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% include 'partials/footer_bar.html' %}

{% endblock %}