{% extends 'layouts/default.html' %}

{% block title %}Work{% endblock title %}

{% block content %}

{% include 'partials/header_bar_inner.html' %}
<section class="work section--middle-border">
	<div class="row">
		<div class="small-offset-1 small-10 columns">
			<p class="work-detail--title">Building ISL Ideas</p>
			<p class="work-detail--tag">Django<span class="global--circle"></span>Python</p>
			<p>{{ work.description }}</p>
			<div class="global--centering-parent">
				<a href="/" class="global--centering-child"><span class="global--button">Live Project</span></a>
				<a href="/" class="global--centering-child"><span class="global--button">Source Code</span></a>
			</div>
		</div>
	</div>
</section>
{% include 'partials/footer_bar.html' %}

{% endblock %}