<section class="featured-work section--middle-border">
	<div class="row">
		<div class="small-offset-1 small-10 columns">
			<h2 class="text--center">Featured Work</h2>
			<div class="row">
				<div class="small-12 medium-6 columns">
					<div class="global--thumbnail"><img src="{{root}}assets/img/tin_small.jpeg"></div>
					<h3><a href='work/isl-ideas'>ISL Ideas Message Board Application</a></h3>
					<p>I built this web application using Django and Django Channels.  The app allows colleagues to add, upvote and comment on new project ideas.</p>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="global--thumbnail"><img src="{{root}}assets/img/tin_small.jpeg"></div>
					<h3><a href="/work/tuneintonews">TuneIntoNews Twitter Bot</a></h3>
					<p>This fun Twitter bot was an experiment in harnessing APIs from Twitter, Spotify, and National Public Radio.  Users tweet at the bot and get back a song to listen to, and a matching news article to read.</p>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns">
					<div class="global--thumbnail"><img src="{{root}}assets/img/tin_small.jpeg"></div>
					<h3><a href="/work/pycon-guide">PyCon Guide Web Scraper</a></h3>
					<p>Using BeautifulSoup, I wrote several scrapers that collected data from the official PyGuide Scheduler and added them to the user's personal calendar.</p>
				</div>
				<div class="small-12 medium-6 columns">
					<div class="global--thumbnail"><img src="{{root}}assets/img/tin_small.jpeg"></div>
					<h3><a href="/work/text-file-delimiter">Text File Delimiter</a></h3>
					<p>This time-saving python script converts non-delimited text files into easy-to-use CSV files.  Written specifically to solve the problem of getting back a file of non-delimited student SAT score data from College Board, this script saved me and my coworkers from many tedious hours of copy and pasting.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="global--centering-parent">
		<a href="/work/" class="global--centering-child"><span class="global--button">View More Work</span></a>
	</div>
	
</section>