<div class="footer--bar-inner section--top-border ">
	<a href="/" class="block--align-left">Sarah-Jaine Szekeresh</a>

	<a href="mailto:freelance@sarahjaine.com"target="_blank"><i class="fa fa-envelope-square fa-lg fa-fw footer--contact-icon block--align-right" aria-hidden="true"></i></a>
	<a href="https://twitter.com/SarahJaine_Sz" target="_blank"><i class="fa fa-twitter fa-lg fa-fw footer--contact-icon block--align-right" aria-hidden="true"></i></a>
	<a href="https://github.com/SarahJaine" target="_blank"><i class="fa fa-github fa-lg fa-fw footer--contact-icon block--align-right" aria-hidden="true"></i></a>
</div>