// Alignment

.block--align-center-left {
	position: absolute;

	@include breakpoint(small) {
		top: 15%;
		right: 1%;
		left: 1%;
    }

    @include breakpoint(phone) {
    	right: 3%;
		left: 3%;
    }

    @include breakpoint(medium) {
    	top: 20%;
    	right: 10%;
		left: 10%;
    }

    @include breakpoint(large) {
		top: 27%;
		right: 18%;
		left: 18%;
    }
}

.block--align-left {
	float: left;
}

.block--align-right {
	float: right;
}

.block--align-center {
	position: absolute;
	width: 20%;
	left: 40%;
}

.global--centering-parent {
	text-align: center;
}

.global--centering-child {
	display: inline-block;
}

// Visibility

.hide-for-small {
	@include breakpoint(small) {
		display: none;
	}

	@include breakpoint(medium) {
		display: inline;
	}
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
