// Header Bar

.header--bar {
	background-color: $color-background-secondary;
	height: 3rem;

	a {
		color: $black;
		margin: 0.65rem 0.75rem;
		padding: 0.2rem 0.4rem;
		font-weight: $font-weight-bold;
		letter-spacing: 0.1rem;
		font-size: 1rem;
		border: 1px solid transparent;

		&:hover,
		&:active {
			color: $white;
			background-color: $color-accent-primary;
			border: 1px solid $color-accent-primary;
			border-radius: 1rem;
		}

		@include breakpoint(small) {
			margin: 0.8rem 0.2rem;
			padding: 0.1rem 0.2rem;
			font-size: 0.7rem;
			font-weight: $font-weight-medium;
		}

		@include breakpoint(medium) {
			margin: 0.65rem 0.75rem;
			padding: 0.2rem 0.4rem;
			font-size: 1rem;
		}

		@include breakpoint(large) {
			margin: 0.65rem 0.75rem;
			padding: 0.2rem 0.4rem;
			font-size: 1rem;
		}
	}
}

.header--bar-inner {
	@extend .header--bar;
	background-image: url('../img/floral_bg.png');
	background-position: center center;
	background-size: cover;

	a {
		background-color: $white;
	}
}

// Footer Bar

.footer--bar-inner {
	@extend .header--bar;

	a {
		border: initial;

		&:nth-of-type(2),
		&:nth-of-type(3),
		&:nth-of-type(4) {
			margin-left: 0;
			margin-right: 0;
			font-size: 0.9rem;
		}

		&:hover,
		&:active {
			color: $color-accent-primary;
			background-color: initial;
			border: initial;
		}
	}
}
