<section class="work section--middle-border">
	<div class="row">
		<div class="small-offset-1 small-10 columns">
			<h2 class="text--center">Featured Work</h2>
			<div class="row">
				{% for project in project_list %}
				<div class="small-12 medium-6 columns">
					<div class="global--thumbnail">
						{% if project.image %}
							<a href="{% url 'work_detail' slug=project.slug %}"><img src="{{ project.image.url }}"></a>
						{% endif %}	
					</div>
					<h3><a href="{% url 'work_detail' slug=project.slug %}">{{ project.name }}</a></h3>
					<p>{{ project.teaser }}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<br>
	<div class="global--centering-parent">
		<a href="{% url 'work_list' %}" class="global--centering-child"><span class="global--button">View More Work</span></a>
	</div>
	
</section>