<nav class="footer--bar-inner section--bottom-border">
	<a href="{% url 'home' %}" class="block--align-left">Sarah-Jaine Szekeresh</a>
	<a href="mailto:freelance@sarahjaine.com" target="_blank" class="block--align-right"><p class="visually-hidden">Send me an Email</p><i class="fa fa-envelope-square fa-lg fa-fw" aria-hidden="true"></i></a>
	<a href="https://twitter.com/SarahJaine_Sz" target="_blank" class="block--align-right"><p class="visually-hidden">Find me on Twitter</p><i class="fa fa-twitter-square fa-lg fa-fw" aria-hidden="true"></i></a>
	<a href="https://github.com/SarahJaine" target="_blank" class="block--align-right"><p class="visually-hidden">Check out my GitHub</p><i class="fa fa-github-square fa-lg fa-fw" aria-hidden="true"></i></a>
</nav>