// Borders

.section--full-border {
	border: 10px solid $white;
	padding-bottom: 3rem;
}

.section--top-border {
	@extend .section--full-border;
	border-bottom-width: 5px;
}

.section--middle-border {
	@extend .section--full-border;
	border-top-width: 5px;
	border-bottom-width: 5px;
}

.section--bottom-border {
	@extend .section--full-border;
	border-top-width: 5px;
}

.section--no-bottom-border {
	@extend .section--full-border;
	border-bottom: 0px;
}

.work--nav-border {
	border-left: 10px solid $white;
	border-right: 10px solid $white;
	border-bottom: 5px solid $white;
}

// Alignment

.block--align-center-left {
	position: absolute;
	@include breakpoint(small) {
		top: 10%;
		right: 5%;
		bottom: 10%;
		left: 5%;
    }
    @include breakpoint(medium) {
    	top: 17%;
    	right: 10%;
		bottom: 20%;
		left: 10%;
    }
    @include breakpoint(large) {
		top: 27%;
		right: 18%;
		bottom: 27%;
		left: 18%;
    }
}

.block--align-left {
	float: left;
}

.block--align-right {
	float: right;
}

.block--align-center {
	position: absolute;
	width: 20%;
	left: 40%;
}

.global--centering-parent {
	text-align: center;
}

.global--centering-child {
	display: inline-block;
}

// Common Elements

.white-highlight {
	background-color: $white;
	padding: 5px;
	margin: 0px;
}

.global--button {
	border: 4px solid $red;
	color: $red;
	font-family: $sans;
	font-weight: $font-weight-heavy;
	line-height: 4rem;
	margin: 0.5rem;
	padding: 0.7rem 1.4rem 0.7rem 1.4rem;
	&:hover {
		color: $white;
		background-color: $red; 
		filter: drop-shadow(0px 0px 2px $light-gray);
	}
	@include breakpoint(small) {
		font-size: 0.8rem;
	}
	@include breakpoint(medium) {
		font-size: 1rem;
	}

}

.global--caption {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.global--thumbnail {
	border: 10px solid $white;
	background-color: $white;
	filter: drop-shadow(0px 0px 2px $light-gray);
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.global--circle {
	display: inline-block;
	width: 0.3rem;
	height: 0.3rem;
	background: $red;
	-moz-border-radius: 0.2rem;
	-webkit-border-radius: 0.2rem;
	border-radius: 50%;
	padding: 3px;
	margin: 0px 10px 2px 10px;
}

.hide-for-small {
	@include breakpoint(small) {
		display: none;
	}
	@include breakpoint(medium) {
		display: inline;
	}
}

.visually-hidden { 
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}