// Header Bar

.header--bar {
	background-color: $light-blue;
	height: 3rem;
	padding-left: 0.1rem;
	padding-right: 0.1rem;
	a {
		color: $black;
		padding: 0.1rem 0.2rem 0.1rem 0.2rem;
		font-weight: $font-weight-heavy;
		letter-spacing: 0.1rem;
		&:hover, &:active {
			color: $white;
			background-color: $red;
			border: 1px solid $red;
			border-radius: 1rem;
		}
		@include breakpoint(small) {
			margin: 1rem 0.2rem 1rem 0.2rem;
			font-size: 0.6rem;
		}
		@include breakpoint(medium) {
			padding: 0.2rem 0.4rem 0.2rem 0.4rem;
			margin: 0.7rem;
			font-size: 0.9rem;
		}
		@include breakpoint(large) {
			padding: 0.3rem 0.6rem 0.3rem 0.6rem;
			font-size: 1rem;
			margin: 0.5rem;
		}
	}
}

.header--bar-inner {
	@extend .header--bar;
	background-image: url('../img/floral_bg.png');
	background-position: center center;
	background-size: cover;
	a {
		background-color: $white;
	}
}

// Footer Bar

.footer--bar-inner {
	@extend .header--bar;
}

.footer--contact-icon {
	padding: 1rem;
}