// Header Bar

.header--bar {
	background-color: $light-blue;
	height: 3rem;
	a {
		color: $black;
		margin: 0.65rem 0.75rem 0.65rem 0.75rem;
		padding: 0.2rem 0.4rem 0.2rem 0.4rem;
		font-weight: $font-weight-bold;
		letter-spacing: 0.1rem;
		font-size: 1rem;
		&:hover, &:active {
			color: $white;
			background-color: $red;
			border: 1px solid $red;
			border-radius: 1rem;
		}
		@include breakpoint(small) {
			margin: 0.8rem 0.2rem 0.8rem 0.2rem;
			padding: 0.1rem 0.2rem 0.1rem 0.2rem;
			font-size: 0.7rem;
			font-weight: $font-weight-medium;
		}
		@include breakpoint(medium) {
			margin: 0.65rem 0.75rem 0.65rem 0.75rem;
			padding: 0.2rem 0.4rem 0.2rem 0.4rem;
			font-size: 1rem;
		}
		@include breakpoint(large) {
			margin: 0.65rem 0.75rem 0.65rem 0.75rem;
			padding: 0.2rem 0.4rem 0.2rem 0.4rem;
			font-size: 1rem;
		}
	}
}

.header--bar-inner {
	@extend .header--bar;
	background-image: url('../img/floral_bg.png');
	background-position: center center;
	background-size: cover;
	a {
		background-color: white;
	}
}

// Footer Bar

.footer--bar-inner {
	@extend .header--bar;
	a {
		&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
			margin-left: 0rem;
			margin-right: 0rem;
			font-size: 1rem;
		}
		&:hover, &:active {
			color: $red;
			background-color: initial;
			border: initial;
		}
	}
}