// Typography

h1 {
    line-height: 2;
    padding: 10px;
}

h2 {
    padding-top: 4rem;
    padding-bottom: 1rem;
}

.h2--alt {
    @extend h2;
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 1rem;
    text-align: center;
    &:before {
        border-bottom: 2px solid $red;
        bottom: 0;
        content: "";
        left: 47%;
        position: absolute;
        width: 6%;
    }
}

.work-detail--title {
    @extend .h2--alt;
    font-family: $serif;
    font-size: 2.5rem;
    font-weight: $font-weight-bold;
    text-align: center;
}

.work-detail--tag {
    color: $red;
    font-family: $sans;
    font-size: 0.8rem;
    font-weight: $font-weight-heavy;
    text-align: center;
    text-transform: uppercase;
}

%heading--sub,
.heading--sub {
    font-size: 1.5rem;
    font-weight: $font-weight-medium;
    line-height: 1;
    font-style: italic;
}

%heading--small,
.heading--small {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: $font-weight-bold;
    letter-spacing: 0.1rem;
}

%heading--micro,
.heading--micro {
    font-size: 0.85rem;
    font-weight: $font-weight-bold;
}


// Paragraph

.text--center {
    text-align: center;
}